@import "tailwindcss";

@theme {
  --font-poppins: 'Poppins', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-poppins);
    @apply bg-gray-900 text-gray-200;
    background-image: url('/assets/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}

.backdrop-blur-xl {
  backdrop-filter: blur(24px);
}
